* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

body {

	font-size: 13px;
	font-family: Arial;
	padding: 2em;
	
}


form {
	
	margin: 1em 0;
	padding: 0 1em;
	border: solid 1px #ccc;
	
}

.form-group {
	
	margin: 1em 0;
	
}

input {
	
	padding: 0.25em;
	border: solid 1px #ccc;
	
}

button {
	
	cursor: pointer;
	background: #fff;
	border: solid 1px #999;
	border-radius: 2px;
	padding: 0.5em;
	font-weight: bold;
	
}

button:hover {

	border-color: #666;

}

button:active {

	background: #ddd;

}